%flex_MainContainer {
  display: flex;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

%centered_flex {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
